<template>
    <div class="jumbotron">
        <h1 id="title"></h1>
        <p class="lead">This is DDOMR.</p>
        <hr class="my-4">
        <p>It creates a seamless Single Page App experience in vanilla JavaScript. In fact, this element, the buttons below, and everything else on this page are being rendered in through DDOMR templates. Navigate through the pages below to give it a try.</p>
        <p class="lead">
            <ddomr-template template-src="./templates/links.template.html"></ddomr-template>
        </p>
    </div>
</template>

<script src="../../ddomr.template.js"></script>