<template>
    <a class="btn btn-primary btn-lg" onclick="dr.change('home.html')" role="button">Home</a>
    <a class="btn btn-warning btn-lg" onclick="dr.change('page1.html')" role="button">Page 1</a>
    <a class="btn btn-success btn-lg" onclick="dr.change('page2.html')" role="button">Page 2</a>
    <a class="btn btn-info btn-lg" onclick="dr.change('urlparams.html?myParam=This text is from a URL parameter!', document)" role="button">Page 3</a>
</template>

<script src="../../ddomr.template.js"></script>